[safe]
	directory = *
   directory = **
   directory = **/**
[user]
	email = theredscreen@t-online.de
	name = TheRedScreen
	signingkey = C:\\Users\\TheRedScreen\\.ssh\\git-signing.pub
[core]
	editor = code
	autocrlf = input
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[init]
   defaultBranch = main
[commit]
	gpgsign = true
[git]
	allowForcePush = true
[gpg]
	format = ssh
